@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

$white: hsl(0, 0%, 100%);
$light-grayish-violet: hsl(270, 3%, 87%);
$dark-grayish-violet: hsl(279, 6%, 55%);
$very-dark-violet: hsl(278, 68%, 11%);
$liner-gradient-active-input: linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
$fw-500: 500;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.icd__wrapper {
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Space Grotesk', sans-serif;
    height: 100vh;
    display: flex;

    &__section-empty {
        width: calc(100% / 3);
        background-color: $very-dark-violet;
    }

    &__section-form {
        width: calc(100% / 3 * 2);
        background-color: $white;
    }
}





@media screen and (max-width: 375px) {
    .icd__wrapper {
        flex-direction: column;

        &__section-empty {
            width: 100%;
            height: calc(100% / 3);
        }

        &__section-form {
            width: 100%;
            height: calc(100% / 3 * 2);
        }
    }
}