@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

$white: hsl(0, 0%, 100%);
$light-grayish-violet: hsl(270, 3%, 87%);
$dark-grayish-violet: hsl(279, 6%, 55%);
$very-dark-violet: hsl(278, 68%, 11%);
$liner-gradient-active-input: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
$error-red: hsl(0, 100%, 66%);
$fw-500: 500;

/* mixins */
@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

.bg-orange {
    background-color: hsl(42, 100%, 50%);
}

.bg-blue {
    background-color: hsl(208, 100%, 50%);
}

.w {
    &-100 {
        width: 100%;
    }

    &-60 {
        width: 60%;
    }

    &-50 {
        width: 50%;
    }

    &-40 {
        width: 40%;
    }

    &-30 {
        width: 30%;
    }

    &-20 {
        width: 20%;
    }
}


.mt {
    &-5 {
        margin-top: 5px;
    }

    &-10 {
        margin-top: 10px;
    }

    &-20 {
        margin-top: 20px;
    }
}

.mr-5 {
    margin-right: 5px;
}

.ml-5 {
    margin-left: 5px;
}

.flex {
    display: flex;
}

.p_xy {
    &-5 {
        padding: 5px;
    }

    &-10 {
        padding: 10px;
    }
}



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.icd__wrapper {
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Space Grotesk', sans-serif;
    height: 100vh;
    display: flex;

    .cc-front,
    .cc-back {
        position: absolute;
        z-index: 5;
        width: 400px;
        height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 5;
        color: $white;
        border-radius: 10px;
        padding: 15px 30px;
        display: flex;
        flex-direction: column;

    }

    .cc-front {
        position: absolute;
        left: 10%;
        top: 20%;
        background-image: url('./images/bg-card-front.png');


        &__wrapper {
            height: 100%;

            @include flex(column, space-between, flex-start);

            &__img {
                width: 80px;
            }

            &__number {
                width: 100%;
                font-size: 28px;
            }

            &__footer {
                width: 100%;
                @include flex(row, space-between, flex-start);
                font-size: 14px;

                &__name {
                    text-transform: uppercase;
                }
            }
        }

    }

    .cc-back {
        position: absolute;
        left: 16%;
        top: 55%;
        background-image: url('./images//bg-card-back.png');

        &__wrapper {
            height: 100%;
            @include flex(column, center, flex-end);

            &__cvc {
                margin: 16px 20px 0 0;
                font-size: 12px;
            }
        }

    }

    &__section-empty {
        width: calc(100% / 3);
        background-image: url('./images/bg-main-desktop.png');
        background-size: cover;
    }

    &__section-form {
        width: calc(100% / 3 * 2);
        @include flex(column, center, center);

        .hide {
            display: none !important;
        }

        form {
            background-color: blue;
            max-width: 380px;
            min-height: 400px;
            background-color: white;
            border-radius: 5px;
            font-size: 18px;
            @include flex(column, center, center);

            .form-message-wrapper {

                min-height: 200px;
                width: 100%;
                @include flex(column, center, center);

                *:nth-child(n + 1) {
                    margin: 10px 5px;
                }

                img {
                    max-width: 80px;

                }

                span {
                    font-size: 18px;
                    font-weight: bold;
                    text-align: center;
                    // all caps
                    text-transform: uppercase;
                }
            }


            .label-wrapper {
                @include flex(column, flex-start, flex-start);
                padding: 0px 10px 0 10px;

                label {
                    font-size: 14px;
                    color: $very-dark-violet;
                    margin: 0 0 5px 0;

                }

                input {
                    height: 40px;
                    border: 1px solid $light-grayish-violet;
                    border-radius: 5px;
                    padding: 0 10px;

                    &:focus {
                        outline: 1px solid $very-dark-violet;
                        border-image-source: $liner-gradient-active-input;
                        border-width: 1px;
                        border-image-slice: 1;
                        border-radius: 5px !important;
                    }
                }

                &__msg {
                    margin-top: 5px;
                    color: $error-red;
                    font-size: 10px;
                    min-height: 1rem;
                }

                .error {
                    //set the input border to red
                    border: 1px solid $error-red;
                }
            }

            .date-cvc__wrapper {
                display: flex;
                ;
            }

            button {
                width: 100%;
                height: 40px;
                border: 1px solid $very-dark-violet;
                border-radius: 5px;
                background-color: $very-dark-violet;
                color: white;
                font-size: 15px;
                cursor: pointer;
                transition: all 0.3s ease-in-out;

                &:hover {
                    background-color: $light-grayish-violet;
                    color: $very-dark-violet;
                }
            }
        }
    }
}





@media screen and (max-width: 375px) {
    .icd__wrapper {
        flex-direction: column;

        &__section-empty {
            width: 100%;
            min-height: 30vh;
        }

        &__section-form {
            width: 100%;
            height: 70vh;

            form {
                margin-top: 50px;

                .label-wrapper {
                    label {
                        font-size: 12px;
                    }
                }
            }
        }

        .cc-front,
        .cc-back {
            max-width: 80%;
            max-height: 150px;

        }

        .cc-front {
            top: 8rem;
            left: 5%;
            padding: 13px;

            &__wrapper {
                &__img {
                    width: 60px;
                }

                &__number {
                    font-size: 18px;
                }

                &__footer {
                    &__name {
                        font-size: 12px;
                    }
                }
            }
        }

        .cc-back {
            z-index: 4;
            top: 2.4rem;
            left: 16%;

            &__wrapper {
                &__cvc {
                    margin-bottom: 5px;
                    font-size: 12px;
                }
            }
        }
    }
}