@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

$white: hsl(0, 0%, 100%);
$light-grayish-violet: hsl(270, 3%, 87%);
$dark-grayish-violet: hsl(279, 6%, 55%);
$very-dark-violet: hsl(278, 68%, 11%);
$liner-gradient-active-input: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
$fw-500: 500;

/* mixins */
@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

.bg-orange {
    background-color: hsl(42, 100%, 50%);
}

.bg-blue {
    background-color: hsl(208, 100%, 50%);
}

.w-100 {
    width: 100%;
}

.w-60 {
    width: 60%;
}

.w-50 {
    width: 50%;
}

.w-45 {
    width: 45%;
}

.w-40 {
    width: 40%;
}

.mr-5 {
    margin-right: 5px;
}

.ml-5 {
    margin-left: 5px;
}

.flex {
    display: flex;
}

.flex-row {
    @include flex(row, space-between, center);
}

//


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.icd__wrapper {
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Space Grotesk', sans-serif;
    height: 100vh;
    display: flex;

    &__section-empty {
        width: calc(100% / 3);
        background-image: url('./images/bg-main-desktop.png');
        background-size: cover;
    }

    &__section-form {
        width: calc(100% / 3 * 2);
        @include flex(column, center, center);

        form {
            width: 400px;
            min-height: 400px;
            background-color: white;
            border: 1px solid $very-dark-violet;
            border-radius: 5px;

            .label-wrapper {
                @include flex(column, flex-start, flex-start);
                padding: 5px 10px;

                label {
                    font-size: 13px;
                    color: $very-dark-violet;
                    margin: 0 0 5px 0;

                }

                input {
                    height: 40px;
                    border: 1px solid $light-grayish-violet;
                    border-radius: 5px;
                    padding: 0 10px;

                    &:focus {
                        outline: 1px solid $very-dark-violet;
                        border-image-source: $liner-gradient-active-input;
                        border-width: 1px;
                        border-image-slice: 1;
                        border-radius: 5px !important;

                    }


                }
            }

            .date-cvc__wrapper {
                display: flex;
                ;
            }
        }
    }
}





@media screen and (max-width: 375px) {
    .icd__wrapper {
        flex-direction: column;

        &__section-empty {
            width: 100%;
            height: calc(100% / 3);
        }

        &__section-form {
            width: 100%;
            height: calc(100% / 3 * 2);
        }
    }
}