@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
/* mixins */
.bg-orange {
  background-color: #ffb300; }

.bg-blue {
  background-color: #0088ff; }

.w-100 {
  width: 100%; }

.w-60 {
  width: 60%; }

.w-50 {
  width: 50%; }

.w-45 {
  width: 45%; }

.w-40 {
  width: 40%; }

.mr-5 {
  margin-right: 5px; }

.ml-5 {
  margin-left: 5px; }

.flex {
  display: flex; }

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.icd__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Space Grotesk', sans-serif;
  height: 100vh;
  display: flex; }
  .icd__wrapper__section-empty {
    width: calc(100% / 3);
    background-image: url("./images/bg-main-desktop.png");
    background-size: cover; }
  .icd__wrapper__section-form {
    width: calc(100% / 3 * 2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .icd__wrapper__section-form form {
      width: 400px;
      min-height: 400px;
      background-color: white;
      border: 1px solid #21092f;
      border-radius: 5px; }
      .icd__wrapper__section-form form .label-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 5px 10px; }
        .icd__wrapper__section-form form .label-wrapper label {
          font-size: 13px;
          color: #21092f;
          margin: 0 0 5px 0; }
        .icd__wrapper__section-form form .label-wrapper input {
          height: 40px;
          border: 1px solid #dedddf;
          border-radius: 5px;
          padding: 0 10px; }
          .icd__wrapper__section-form form .label-wrapper input:focus {
            outline: 1px solid #21092f;
            border-image-source: linear-gradient(#6448fe, #600594);
            border-width: 1px;
            border-image-slice: 1;
            border-radius: 5px !important; }
      .icd__wrapper__section-form form .date-cvc__wrapper {
        display: flex; }

@media screen and (max-width: 375px) {
  .icd__wrapper {
    flex-direction: column; }
    .icd__wrapper__section-empty {
      width: 100%;
      height: calc(100% / 3); }
    .icd__wrapper__section-form {
      width: 100%;
      height: calc(100% / 3 * 2); } }
