@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
/* mixins */
.bg-orange {
  background-color: #ffb300; }

.bg-blue {
  background-color: #0088ff; }

.w-100 {
  width: 100%; }

.w-60 {
  width: 60%; }

.w-50 {
  width: 50%; }

.w-40 {
  width: 40%; }

.w-30 {
  width: 30%; }

.w-20 {
  width: 20%; }

.mt-5 {
  margin-top: 5px; }

.mt-10 {
  margin-top: 10px; }

.mt-20 {
  margin-top: 20px; }

.mr-5 {
  margin-right: 5px; }

.ml-5 {
  margin-left: 5px; }

.flex {
  display: flex; }

.p_xy-5 {
  padding: 5px; }

.p_xy-10 {
  padding: 10px; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.icd__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Space Grotesk', sans-serif;
  height: 100vh;
  display: flex; }
  .icd__wrapper .cc-front,
  .icd__wrapper .cc-back {
    position: absolute;
    z-index: 5;
    width: 400px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 5;
    color: white;
    border-radius: 10px;
    padding: 15px 30px;
    display: flex;
    flex-direction: column; }
  .icd__wrapper .cc-front {
    position: absolute;
    left: 10%;
    top: 20%;
    background-image: url("./images/bg-card-front.png"); }
    .icd__wrapper .cc-front__wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start; }
      .icd__wrapper .cc-front__wrapper__img {
        width: 80px; }
      .icd__wrapper .cc-front__wrapper__number {
        width: 100%;
        font-size: 28px; }
      .icd__wrapper .cc-front__wrapper__footer {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        font-size: 14px; }
        .icd__wrapper .cc-front__wrapper__footer__name {
          text-transform: uppercase; }
  .icd__wrapper .cc-back {
    position: absolute;
    left: 16%;
    top: 55%;
    background-image: url("./images//bg-card-back.png"); }
    .icd__wrapper .cc-back__wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end; }
      .icd__wrapper .cc-back__wrapper__cvc {
        margin: 16px 20px 0 0;
        font-size: 12px; }
  .icd__wrapper__section-empty {
    width: calc(100% / 3);
    background-image: url("./images/bg-main-desktop.png");
    background-size: cover; }
  .icd__wrapper__section-form {
    width: calc(100% / 3 * 2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .icd__wrapper__section-form .hide {
      display: none !important; }
    .icd__wrapper__section-form form {
      background-color: blue;
      max-width: 380px;
      min-height: 400px;
      background-color: white;
      border-radius: 5px;
      font-size: 18px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .icd__wrapper__section-form form .form-message-wrapper {
        min-height: 200px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .icd__wrapper__section-form form .form-message-wrapper *:nth-child(n + 1) {
          margin: 10px 5px; }
        .icd__wrapper__section-form form .form-message-wrapper img {
          max-width: 80px; }
        .icd__wrapper__section-form form .form-message-wrapper span {
          font-size: 18px;
          font-weight: bold;
          text-align: center;
          text-transform: uppercase; }
      .icd__wrapper__section-form form .label-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0px 10px 0 10px; }
        .icd__wrapper__section-form form .label-wrapper label {
          font-size: 14px;
          color: #21092f;
          margin: 0 0 5px 0; }
        .icd__wrapper__section-form form .label-wrapper input {
          height: 40px;
          border: 1px solid #dedddf;
          border-radius: 5px;
          padding: 0 10px;
          font-size: 18px; }
          .icd__wrapper__section-form form .label-wrapper input:focus {
            outline: 1px solid #21092f;
            border-image-source: linear-gradient(#6448fe, #600594);
            border-width: 1px;
            border-image-slice: 1;
            border-radius: 5px !important; }
        .icd__wrapper__section-form form .label-wrapper__msg {
          margin-top: 5px;
          color: #ff5252;
          font-size: 10px;
          min-height: 1rem; }
        .icd__wrapper__section-form form .label-wrapper .error {
          border: 1px solid #ff5252; }
      .icd__wrapper__section-form form .date-cvc__wrapper {
        display: flex; }
      .icd__wrapper__section-form form button {
        width: 100%;
        height: 40px;
        border: 1px solid #21092f;
        border-radius: 5px;
        background-color: #21092f;
        color: white;
        font-size: 15px;
        cursor: pointer;
        transition: all 0.3s ease-in-out; }
        .icd__wrapper__section-form form button:hover {
          background-color: #dedddf;
          color: #21092f; }

@media screen and (max-width: 375px) {
  .icd__wrapper {
    flex-direction: column; }
    .icd__wrapper__section-empty {
      width: 100%;
      min-height: 30vh; }
    .icd__wrapper__section-form {
      width: 100%;
      height: 70vh; }
      .icd__wrapper__section-form form {
        margin-top: 50px; }
        .icd__wrapper__section-form form .label-wrapper label {
          font-size: 12px; }
    .icd__wrapper .cc-front,
    .icd__wrapper .cc-back {
      max-width: 80%;
      max-height: 150px; }
    .icd__wrapper .cc-front {
      top: 8rem;
      left: 5%;
      padding: 13px; }
      .icd__wrapper .cc-front__wrapper__img {
        width: 60px; }
      .icd__wrapper .cc-front__wrapper__number {
        font-size: 18px; }
      .icd__wrapper .cc-front__wrapper__footer__name {
        font-size: 12px; }
    .icd__wrapper .cc-back {
      z-index: 4;
      top: 2.4rem;
      left: 16%; }
      .icd__wrapper .cc-back__wrapper__cvc {
        margin-bottom: 5px;
        font-size: 12px; } }
